.container-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 5em;

  span {
    border-left: 10px solid var(--primary-color);
    padding-left: 10px;
    font-size: 2.2rem;
    font-weight: 300;
  }
}
.container-form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #2f4858;
    padding: 5px 15px;
  }

  button {
    width: 200px;
    border-radius: 5px;
    background-color: #2f4858;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    align-self: center;
  }
  
  label {
    font-weight: bold;
  }
}