.contenedor-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  span {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 3rem;
  }
}
.contenedor-formulario {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contenedor-formulario input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #2f4858;
  padding: 5px 15px;
}
.contenedor-formulario button {
  width: 200px;
  border-radius: 5px;
  background-color: #2f4858;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  align-self: center;
}
.contenedor-formulario label {
  font-weight: bold;
}