@import '@/assets/css/css-variables.css';

nav {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100vw;
   background-color: var(--tertiary-color);
   justify-content: center;
   align-items: center;
   padding: 0.8em;
   column-gap: 3em;

   a {
      text-decoration: none;
      color: #FFFFFF;
   }
}